
  <div class="container">
    <h1 class="text-center" class="header">About Us</h1>

    <p>Every winter thousands of local residents can't afford to stay warm with a winter coat. At Share the Warmth, you can donate new or slightly used coats or look for the right coat for you and your
    loved ones. At Share the Warmth, we believe everyone deserves to stay warm during the colder months regardless of their situation. We're devoted to matching the perfect coat to the right person and
    in the process connecting people.</p>

    <div class="row wow fadeInRight animated animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 3s; -moz-animation-duration: 3s; animation-duration: 3s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
    <!-- MEMBER -->
    <div class="col-lg-3 col-sm-3">
      <div class="team-member">
        <figure class="profile-pic"> 
        <img src="https://s19.postimg.org/5ms01ct8z/IMG_1082.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
        </figure>
        <div class="member-details">
          <h5 class="dark-text red-border-bottom">Crystal King</h5>
          <div class="position">
            Backend Developer
          </div>
        </div>
        <div class="social-icons">
          <ul class="icon_imgs">
            <li><a href="" target="_blank"><i class="icon-twitter-alt"></i></a></li>
          </ul>
        </div>
        <div class="details">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
          </p>
        </div>
      </div>
    </div>
    <!-- / END MEMBER -->
    
    <div class="col-lg-3 col-sm-3">
      <div class="team-member">
        <figure class="profile-pic">
        <img src="https://s19.postimg.org/8dnkenoyb/josie_img.jpg" alt="">
        </figure>
        <div class="member-details">
          <h5 class="dark-text green-border-bottom">Josie Pizzolato</h5>
          <div class="position">
            Developer
          </div>
        </div>
        <div class="social-icons">
          <ul class="icon_imgs">
            <li><a href="https://twitter.com/josiepizzo" target="_blank"><i class="icon-twitter-alt"></i></a></li>
            <li><a href="http://www.behance.net/josiepizzo" target="_blank"><i class="icon-behance"></i></a></li>
            <li><a href="https://www.linkedin.com/in/josiepizzolato" target="_blank"><i class="icon-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="details">
          <p>
            While the statistics point to IT being dominated by men, Josie said she had felt supported and comfortable entering the industry. In terms of her experience being a woman in technology, it's been very positive. Now in the early stages of backend development Josie is coming full circle as a Web Developer.
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-lg-3 col-sm-3">
      <div class="team-member">
        <figure class="profile-pic">
        <img src="https://s19.postimg.org/dqcesscur/Steven_img.jpg" alt="">
        </figure>
        <div class="member-details">
          <h5 class="dark-text blue-border-bottom">Steven Galante</h5>
          <div class="position">
            Frontend Developer
          </div>
        </div>
        <div class="social-icons">
          <ul class="icon_imgs">
            <li><a href=""><i class="icon-twitter-alt" target="_blank"></i></a></li>
            <li><a href=""><i class="icon-linkedin" target="_blank"></i></a></li>
          </ul>
        </div>
        <div class="details">
          <p>
           Steven Galante is the Communications Coordinator for The Citizens Campaign. Previously, he worked as a newspaper reporter for 4 years. He holds a Master’s Degree from Rutgers University and a BA from Montclair State University.
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-lg-3 col-sm-3">
      <div class="team-member">
        <figure class="profile-pic">
        <img src="https://s19.postimg.org/6x7s3jc43/josh_img.jpg" alt="">
        </figure>
        <div class="member-details">
          <h5 class="dark-text yellow-border-bottom">Joshua Cassell</h5>
          <div class="position">
            Frontend Developer
          </div>
        </div>
        <div class="social-icons">
          <ul class="icon_imgs">
            <li><a href=""><i class="icon-twitter-alt" target="_blank"></i></a></li>
            <li><a href=""><i class="icon-linkedin" target="_blank"></i></a></li>
          </ul>
        </div>
        <div class="details">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
          </p>
        </div>
      </div>
    </div>   
  </div>
</div>