<h1>This is the coats page</h1>
<h1 class="header">Coat Details</h1>
<div class="container">
<div class="row">
<div class="form-group">

<form method = "POST" action="new-post" />

Title:
<input type="text" name="description" /> 

Photo:
<input type="file" name="pic" accept="image/*">

Type: 
<input type="radio" id="typej" name="type" value="Jacket" /><label for="typej">Jacket</label>
<input type="radio" id="typec"name="type" value="Coat" /><label for="typec">coat</label>

Condition: 
<input type="radio" id="conditionn" name="condition" value="new" /><label for="conditionn">new</label>
<input type="radio" id="conditiong" name="condition" value="Gently used" /><label for="conditiong">Gently Used</label>

Category:
<input type="radio" name="category" value="Man" />
<input type="radio" name="category" value="Woman" />
<input type="radio" name="category" value="Girl" />
<input type="radio" name="category" value="Boy" />

Size
<input type="radio" name="size" value="Small" />
<input type="radio" name="size" value="Medium" />
<input type="radio" name="size" value="Large" />