<h1>This is the coats page</h1>
<h1 class="header">Coat Details</h1>
<div class="container">
<div class="row">
<div class="form-group">

<form method = "POST" action="new-post" />

Title:
<input type="text" name="description" /> 

Photo:
<input type="file" name="pic" accept="image/*">

Type: 
<input type="radio" id="typej" name="type" value="Jacket" /><label for="typej">Jacket</label>
<input type="radio" id="typec"name="type" value="Coat" /><label for="typec">coat</label>

Condition: 
<input type="radio" id="conditionn" name="condition" value="new" /><label for="conditionn">new</label>
<input type="radio" id="conditiong" name="condition" value="Gently used" /><label for="conditiong">Gently Used</label>

Category:
<input type="radio" id="categorym" name="category" value="Man" /><label for="categorym">Man</label>

<input type="radio" id="categoryw"name="category" value="Woman" /><label for="categoryw">Woman</label>
<input type="radio" id="categoryg" name="category" value="Girl" /><label for="categoryw">Girl</label>
<input type="radio" name="category" value="Boy" /><label for="categoryw">Boy</label>

Size
<input type="radio" id="sizes "name="size" value="Small" /><label for="sizes">Small</label>
<input type="radio" id="sizem" name="size" value="Medium" /><label for="sizes">Medium</label>
<input type="radio" id="sizel"name="size" value="Large" /><label for="sizes">Large</label>