<h1 class="header">Coat Details</h1>
<div class="container">
<div class="row">
<div class="form-group">
<form method = "POST" action="new-post" />
Title:<input type="text" name="description" />
Condition:
<form action=" {{this.id}}?_method=PUT" method="POST">