

<div class="container">
  <h1 class="text-center" class="header">Post Your Coat</h1>
  <h2 id="forms_subhead">Please enter details about your coat</h2>
	<form method="POST" action="/new-coat">
      <div class="form-group">
               <h4>Title:</h4>
               <input type="text" name="title" />
       
               <h4>Upload Photo:</h4>
               <input type="file" name="pic" accept="image/*">
            <div class="radio">
               <h4>Type:</h4> 
               <label><input type="radio" name="type" value="Jacket">Jacket</label>
               <label><input type="radio" name="condition" value="Coat">Coat</label>
            </div>
               
            
            <h4>Condition:</h4>
            <div class="radio">
              <label><input type="radio" name="condition" value="new">New</label>           

              <label><input type="radio" name="condition" value="Slightly worn">Slightly worn</label>

            </div>
         
              <h4>Gender:</h4>
               <div class="radio">
                   <label><input type="radio" name="category" value="Man">Man</label>
                   <label><input type="radio" name="category" value="Woman">Woman</label>
                   <label><input type="radio" name="category" value="Girl">Girl</label>
                   <label><input type="radio" name="category" value="Boy">Boy</label>
                </div>
               <h4>Size:</h4>
               <div class="radio">
               <label><input type="radio" name="size" value="Small">Small</label>
               <label><input type="radio" name="size" value="Medium">Medium</label>
               <label><input type="radio" name="size" value="Large">Large</label>
            </div> 
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      </form>
   </div>
  
</div>
