
<div class="container">
  <h1 class="text-center" class="header">Post Your Coat</h1>
  <h2 id="forms_subhead">Please enter details about your coat</h2>
  <div class="image-section">
    <input type="file" name="file" class="image_field">Upload Image     
  </div>


	<form method="POST" action="/new-coat" class = 'upload_form'>
      <input type="hidden" id="coaturl" name="coaturl"/>
      <div class="coatimage"></div>
      <div class="form-group">
               <h4>Title:</h4>
               <input type="text" name="title" />
                
               <!--<h4>Upload Photo:</h4>
               <input type="file" name="pic" accept="image/*">-->
            <h4>Type:</h4> 
           <div class="radio">
              <label><input type="radio" name="type" value="Jacket">Jacket</label>
              <label><input type="radio" name="type" value="Coat">Coat</label>
           </div>
               
            
            <h4>Condition:</h4>
            <div class="radio">
              <label><input type="radio" name="condition" value="new">New</label>           

              <label><input type="radio" name="condition" value="Gently Used">Gently Used</label>

            </div>
         
              <h4>Gender:</h4>
               <div class="radio">
                   <label><input type="radio" name="category" value="Man">Man</label>
                   <label><input type="radio" name="category" value="Woman">Woman</label>
                   <label><input type="radio" name="category" value="Girl">Girl</label>
                   <label><input type="radio" name="category" value="Boy">Boy</label>
                </div>
               <h4>Size:</h4>
               <div class="radio">
               <label><input type="radio" name="size" value="Small">Small</label>
               <label><input type="radio" name="size" value="Medium">Medium</label>
               <label><input type="radio" name="size" value="Large">Large</label>
            </div> 
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
      </form>
   </div>
  
</div>
<script src="/js/coats.js"></script>
