/*css for carousel*/
#forms_subhead{
  font-size: 24px;
  text-align: center;
}
h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-fade .carousel-inneritem {
  transition-property: opacity;
}

.item,.active.left,.active.right {
  opacity: 0;
}

.active,.next.left,.prev.right {
  opacity: 1;
}

.next,.prev,.active.left,.active.right {
  left: 0;
  transform: translate3d(0,0,0);
}

.carousel-control {
  z-index: 2;
}

html,body,.carousel,.carousel-inner,.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
  background: #74C390;
}

.item:nth-child(2) {
  background: #51BCE8;
}

.item:nth-child(3) {
  background: #E46653;
}
#top_margin{
  margin-top: 50px;
}